[mysqld]
log_bin=/var/lib/mysql/mysql_bin.log
log_bin_index=/var/lib/mysql/mysql_bin
character_set_server=utf8mb4
skip_name_resolve=1
innodb_file_per_table=1
innodb_compression_level=3
innodb_compression_pad_pct_max=50
innodb_flush_log_at_trx_commit=1
sync_binlog=1
innodb_max_dirty_pages_pct=30
innodb_io_capacity=2000
binlog_format=row
interactive_timeout=300
wait_timeout=300
innodb_log_buffer_size=12M
max_binlog_size=1000M
symbolic_links=0
authentication_policy=mysql_native_password
max_connections=1000
validate_password.length=1
validate_password.mixed_case_count=0
validate_password.number_count=0
validate_password.policy=0
validate_password.special_char_count=0
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log_error=/var/log/mysqld.log
pid_file=/var/run/mysqld/mysqld.pid
