<configuration>
        <property>
                <name>hadoop.tmp.dir</name>
                <value>TMP_DIR</value>
        </property>
        <property>
                <name>fs.defaultFS</name>
                <value>hdfs://MAS_HOST:LISTEN</value>
        </property>
        <property>
                <name>hadoop.proxyuser.root.hosts</name>
                <value>*</value>
        </property>
</configuration>
